In [100]:
import pandas as pd
import numpy as np
suicides_data = pd.read_csv("/Users/greshashah126/Desktop/master.csv", low_memory=False)
pd.set_option("display.max_columns", None)
suicides_data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21.0,312900,6.710000,Albania1987,NaN,"2,15,66,24,900",796.000000,Generation X
1,Albania,1987,male,35-54 years,16.0,308000,5.190000,Albania1987,NaN,"2,15,66,24,900",796.000000,Silent
2,Albania,1987,female,15-24 years,14.0,289700,4.830000,Albania1987,NaN,"2,15,66,24,900",796.000000,Generation X
3,Albania,1987,male,75+ years,1.0,21800,4.590000,Albania1987,NaN,"2,15,66,24,900",796.000000,G.I. Generation
4,Albania,1987,male,25-34 years,9.0,274300,3.280000,Albania1987,NaN,"2,15,66,24,900",796.000000,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
31751,Ukraine,2017,female,75+ years,256.0,44831135,0.571032,Ukraine2017,0.785458,1.12E+11,2638.326055,G.I. Generation
31752,United Kingdom,2017,female,75+ years,104.0,66058859,0.157435,United Kingdom2017,0.914735,2.70E+12,40857.755580,G.I. Generation
31753,United States of America,2017,female,75+ years,501.0,325122128,0.154096,United States of America2017,0.918620,1.95E+13,60109.655730,G.I. Generation
31754,Uruguay,2017,female,75+ years,14.0,3422200,0.409094,Uruguay2017,0.816745,64233966861,18690.893840,G.I. Generation
31755,Uzbekistan,2017,female,75+ years,3.0,32388600,0.009263,Uzbekistan2017,0.691258,62081323299,1916.764642,G.I. Generation

In [101]:
suicides_data.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no            1200
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [102]:
suicides_data['suicides_no'] = suicides_data['suicides_no'].fillna(0) 
suicides_data['HDI for year'] = suicides_data['HDI for year'].fillna(0)

In [103]:
suicides_data = suicides_data.drop(columns='country-year')

In [104]:
# Convert to integers
suicides_data['suicides_no'] = suicides_data['suicides_no'].astype(int)

In [105]:
suicides_data['suicides_no'].dtype

dtype('int64')

In [106]:
suicides_data.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'HDI for year', ' gdp_for_year ($) ',
       'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [107]:
suicides_data = suicides_data.rename(columns={' gdp_for_year ($) ': 'gdp_for_year($)'})

In [108]:
suicides_data['gdp_for_year($)'].unique()

array(['2,15,66,24,900', '2,12,60,00,000', '2,33,51,24,988', ...,
       '1.95E+13', '64233966861', '62081323299'], dtype=object)

In [109]:
# Function to remove 'E+' part from numbers
def remove_num(x):
    if "E+" in x:
        return 0
    else:
        return x

suicides_data['gdp_for_year($)'] =  suicides_data['gdp_for_year($)'].apply(remove_num)
suicides_data['gdp_for_year($)'] = suicides_data['gdp_for_year($)'].str.replace(',', '')
suicides_data

,country,year,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.710000,0.000000,2156624900,796.000000,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.190000,0.000000,2156624900,796.000000,Silent
2,Albania,1987,female,15-24 years,14,289700,4.830000,0.000000,2156624900,796.000000,Generation X
3,Albania,1987,male,75+ years,1,21800,4.590000,0.000000,2156624900,796.000000,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.280000,0.000000,2156624900,796.000000,Boomers
...,...,...,...,...,...,...,...,...,...,...,...
31751,Ukraine,2017,female,75+ years,256,44831135,0.571032,0.785458,NaN,2638.326055,G.I. Generation
31752,United Kingdom,2017,female,75+ years,104,66058859,0.157435,0.914735,NaN,40857.755580,G.I. Generation
31753,United States of America,2017,female,75+ years,501,325122128,0.154096,0.918620,NaN,60109.655730,G.I. Generation
31754,Uruguay,2017,female,75+ years,14,3422200,0.409094,0.816745,64233966861,18690.893840,G.I. Generation
31755,Uzbekistan,2017,female,75+ years,3,32388600,0.009263,0.691258,62081323299,1916.764642,G.I. Generation

In [110]:
suicides_data.isnull().sum()

country                  0
year                     0
sex                      0
age                      0
suicides_no              0
population               0
suicides/100k pop        0
HDI for year             0
gdp_for_year($)       2172
gdp_per_capita ($)       0
generation               0
dtype: int64

In [111]:
suicides_data['gdp_for_year($)'] = suicides_data['gdp_for_year($)'].fillna(0) 
suicides_data

,country,year,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.710000,0.000000,2156624900,796.000000,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.190000,0.000000,2156624900,796.000000,Silent
2,Albania,1987,female,15-24 years,14,289700,4.830000,0.000000,2156624900,796.000000,Generation X
3,Albania,1987,male,75+ years,1,21800,4.590000,0.000000,2156624900,796.000000,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.280000,0.000000,2156624900,796.000000,Boomers
...,...,...,...,...,...,...,...,...,...,...,...
31751,Ukraine,2017,female,75+ years,256,44831135,0.571032,0.785458,0,2638.326055,G.I. Generation
31752,United Kingdom,2017,female,75+ years,104,66058859,0.157435,0.914735,0,40857.755580,G.I. Generation
31753,United States of America,2017,female,75+ years,501,325122128,0.154096,0.918620,0,60109.655730,G.I. Generation
31754,Uruguay,2017,female,75+ years,14,3422200,0.409094,0.816745,64233966861,18690.893840,G.I. Generation
31755,Uzbekistan,2017,female,75+ years,3,32388600,0.009263,0.691258,62081323299,1916.764642,G.I. Generation

In [112]:
suicides_data['gdp_for_year($)'].dtype

dtype('O')

In [113]:
suicides_data['gdp_for_year($)'] = suicides_data['gdp_for_year($)'].astype(int)

In [114]:
suicides_data['gdp_per_capita ($)'].dtype

dtype('float64')

In [115]:
#Reducing decimal place 
suicides_data['gdp_per_capita ($)'] = suicides_data['gdp_per_capita ($)'].apply (lambda x: round(x, 2))
suicides_data['suicides/100k pop'] = suicides_data['suicides/100k pop'].apply (lambda x: round(x, 3))
suicides_data['HDI for year'] = suicides_data['HDI for year'].apply (lambda x: round(x, 3))
suicides_data

,country,year,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.710,0.000,2156624900,796.00,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.190,0.000,2156624900,796.00,Silent
2,Albania,1987,female,15-24 years,14,289700,4.830,0.000,2156624900,796.00,Generation X
3,Albania,1987,male,75+ years,1,21800,4.590,0.000,2156624900,796.00,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.280,0.000,2156624900,796.00,Boomers
...,...,...,...,...,...,...,...,...,...,...,...
31751,Ukraine,2017,female,75+ years,256,44831135,0.571,0.785,0,2638.33,G.I. Generation
31752,United Kingdom,2017,female,75+ years,104,66058859,0.157,0.915,0,40857.76,G.I. Generation
31753,United States of America,2017,female,75+ years,501,325122128,0.154,0.919,0,60109.66,G.I. Generation
31754,Uruguay,2017,female,75+ years,14,3422200,0.409,0.817,64233966861,18690.89,G.I. Generation
31755,Uzbekistan,2017,female,75+ years,3,32388600,0.009,0.691,62081323299,1916.76,G.I. Generation

In [116]:
suicides_data.to_csv("SuicidesData_cleaned.csv", index=False)